.sample-class {
  background-color: orange;
}
.title {
  color: #064213;
  font-size: 28sp;
  font-weight: bold;
}
.vitalsWidget {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 10px 30px -24px #b3b3b3;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid black;
  border-collapse: collapse;
}
